@import url("https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&family=Roboto:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", sans-serif;
}
.head__title {
  font-family: "Amiri", serif;
}

/* Global CSS ======>>>>>====>>>>>> */
section {
  max-width: 80%;
  margin: auto;
}
.default__btn {
  background-color: #ff5959;
  border: none;
  padding: 14px 28px;
  border-radius: 5px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  margin-bottom: 2rem;
}

/* Home Section CSS ======>>>>====>>>>  */
.home__part img {
  width: 600px;
}
.home__part {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.text__part {
  width: 50%;
}
.text__part h1 {
  font-size: 80px;
  line-height: 6rem;
  border-left: 8px solid #ff5959;
  border-radius: 10px;
  margin-bottom: 2rem;
  padding-left: 1.2rem;
}
.text__part h1 span {
  color: #ffad5a;
}
.text__part p {
  line-height: 1.8rem;
  font-size: 18px;
  margin-bottom: 2rem;
  text-align: justify;
}

/* My Mission CSS Part ===>>>>======>>>>>> */
.my__mission {
  margin: 0px 40px;
}
.mission__card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.my__mission h1 {
  font-size: 48px;
  text-align: center;
  margin-bottom: 2rem;
}
.my__mission span {
  color: #ffad5a;
}
.mission__item {
  padding: 0px 2.5rem;
  margin: 2rem;
}
.mission__item img {
  width: 250px;
  margin-bottom: 10px;
}
.mission__item p {
  text-align: justify;
  margin: 10px 0px;
  line-height: 1.5rem;
  margin-bottom: 2rem;
}
.item1 {
  background-color: #4f9da62d;
  border-radius: 10px;
}
.item2 {
  background-color: #ff59592a;
  border-radius: 10px;
}
.item3 {
  background-color: #fff4d6;
  border-radius: 10px;
}

/* Develop Team Coding blog ===========>>>>>> */
.develop__team {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 70px 50px;
}
.develop__team img {
  width: 400px;
}
.margin__left {
  margin-left: 5rem;
}
.text h1 {
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
}
.text p {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 2rem;
  text-align: justify;
}

/* Global Community blog ===========>>>>>> */
.margin__right {
  margin-right: 5rem;
}
/* Contact CSS ================>>>>>> */
.contact {
  text-align: center;
}
.contact p {
  padding: 1rem;
  width: 60%;
  margin: auto;
  line-height: 25px;
}

.contact__details {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 400px;
}
.contact__details .info {
  line-height: 40px;
}
.contact__details .info h3 {
  margin-bottom: 1rem;
}
.contact__details .info span {
  font-weight: bold;
}

.form_inside {
  margin-bottom: 1rem;
  margin-right: 1rem;
  padding: 0.5rem 0.5rem;
  width: 100%;
}

#submit {
  margin-top: 1.2rem;
  padding: 5px 10px;
}
#submit:hover {
  background-color: #ff5959;
  outline: none;
}
/* Footer Part CSS ====>>>> */
footer {
  font-family: "Roboto", sans-serif;
  background-color: rgb(10, 10, 10);
  height: 177px;
  width: 100%;
  text-align: center;
}
footer h1 {
  font-family: "Amiri", serif;
  color: #fff;
  padding: 2rem 0 0.5rem 0;
}
footer span {
  color: #ffad5a;
}
footer p {
  color: #fff;
  font-size: 14px;
}
